spring:
  config:
    import:
      - optional:configserver:http://localhost:8888
  application:
    name: product-service
  data:
    mongodb:
      database: db_product
      host: localhost
      port: 27018
server:
  port: 8081
management:
  endpoint:
    web:
      exposure:
        include: "*"
message:
  path-product: /api/v1/products
  path-productType: /api/v1/productType